[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.x.cfg
extensions =
    mr.developer
package-name = ploneintranet.notifications
package-extras = [test]
parts +=
    code-analysis
    flake8
auto-checkout =
   plonesocial.activitystream
   plonesocial.core
   plonesocial.microblog

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/ploneintranet/notifications
deprecated-aliases = True
utf8-header = True
clean-lines = True
prefer-single-quotes = True
pep3101 = False
imports = True
debug-statements = True

[sources]
plonesocial.activitystream = git git@github.com:cosent/plonesocial.activitystream.git
plonesocial.core = git git@github.com:cosent/plonesocial.core.git
plonesocial.microblog = git git@github.com:cosent/plonesocial.microblog.git

[flake8]
recipe = zc.recipe.egg
eggs = flake8
       ${instance:eggs}
entry-points =
    flake8=flake8.run:main

[test]
defaults = ['--auto-color', '--auto-progress', '-v', '-s', 'ploneintranet.notifications']

